DATA_FILE_NAME= str
DB_FILE_NAME= str
MODEL_PATH= path
MODEL_NAME="model_name.onnx"
VECTORIZER_PATH= path
VECTORIZER_NAME="vectorizer_name.joblib"
LOG_LEVEL= str
TABLE_NAME= str
DB_URL= sqlite://{path}